/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* asterisk wildcard to override browser style patterns */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles for the pro=ject */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 110%;
    align-items: right;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
    width: fit-content;
}

nav {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle:checked~nav {
    display: block;
}

main {
    /* Pushing the footer down and allowing the main content to take all the space on the page */
    flex: 1 0 auto;
    margin-top: 85px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

#reasons {
    margin: 20px auto;
    width: 90%;
}

.benefit div {
    margin-bottom: 20px;
    line-height: 20px;
    padding: 0 20px;
}

.benefit hr {
    margin: 5px 0;
    border-top: 1px solid #3a3a3a;
}

#reasons>h2 {
    font-size: 280%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#circle-cover-bg {
    background: url("../images/reasons-image.webp") no-repeat top center/cover;
    align-self: center;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#reasons-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-media {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        padding-right: 1em;
        width: fit-content;
        font-size: 200%;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        padding-top: 40px;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        padding-top: 40px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 150px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    .benefit {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .benefit>div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;

    }
}

@media screen and (min-width: 1000px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
        width: fit-content;
    }

    #reasons>h2 {
        justify-content: center;
    }

    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #reasons-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental>div {
        align-self: flex-start;
    }

    #benefits-physical>div {
        align-self: flex-end;
    }
}